In [ ]:
"""it will understand and summarize the text"""

In [1]:
text="""Known for his action star persona, N.T. Rama Rao Jr. , commonly referred to as Tarak or Jr NTR is the grandson of legendary Telugu actor and politician N.T. Rama Rao. Tarak is the most successful star from Nandamuri family working in the Telugu film industry.

Tarak was born on 20th May 1983 in Hyderabad, Andhra Pradesh (currently in Telangana), India to Nandamuri Harikrishna and Shalini Rao. Tarak learnt the Kuchipudi dance form in his early childhood and gave many stage performances in India and abroad.

Tarak was selected by acclaimed Telugu director Gunasekhar to star as the mythological character Lord Ram in the children's film Ramayanam (1996), marking his debut in movies. After starring in a few TV serials, he made his adult debut in movies with Ninnu Choodalani (2001) directed by V.R. Pratap. He has since then starred in over thirty movies in leading roles. He is the recipient of two Filmfare Awards, two Nandi awards and four CineMAA awards.
- IMDb Mini Biography By: Tarun Sreenivas Chavali"""

In [2]:
len(text)

1013

In [3]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from string import punctuation

In [4]:
nlp=spacy.load('en_core_web_sm')

In [5]:
doc=nlp(text)

In [7]:
tokens1=[]
sw=list(STOP_WORDS)
allowed_pos=['ADJ','PROPN','VERB','NOUN']
for token in doc:
  if token.text not in sw and token.text not in punctuation and token.pos_ in allowed_pos:
    tokens1.append(token.text)

In [8]:
tokens1

['Known',
 'action',
 'star',
 'persona',
 'N.T.',
 'Rama',
 'Rao',
 'Jr.',
 'referred',
 'Tarak',
 'Jr',
 'NTR',
 'grandson',
 'legendary',
 'Telugu',
 'actor',
 'politician',
 'N.T.',
 'Rama',
 'Rao',
 'Tarak',
 'successful',
 'star',
 'Nandamuri',
 'family',
 'working',
 'Telugu',
 'film',
 'industry',
 'Tarak',
 'born',
 '20th',
 'May',
 'Hyderabad',
 'Andhra',
 'Pradesh',
 'Telangana',
 'India',
 'Nandamuri',
 'Harikrishna',
 'Shalini',
 'Rao',
 'Tarak',
 'learnt',
 'Kuchipudi',
 'dance',
 'form',
 'early',
 'childhood',
 'gave',
 'stage',
 'performances',
 'India',
 'Tarak',
 'selected',
 'acclaimed',
 'Telugu',
 'director',
 'Gunasekhar',
 'star',
 'mythological',
 'character',
 'Lord',
 'Ram',
 'children',
 'film',
 'Ramayanam',
 'marking',
 'debut',
 'movies',
 'starring',
 'TV',
 'serials',
 'adult',
 'debut',
 'movies',
 'Ninnu',
 'Choodalani',
 'directed',
 'V.R.',
 'Pratap',
 'starred',
 'movies',
 'leading',
 'roles',
 'recipient',
 'Filmfare',
 'Awards',
 'Nandi',
 'awards',
 'CineMAA',
 'awards',
 'IMDb',
 'Mini',
 'Biography',
 'Tarun',
 'Sreenivas',
 'Chavali']

In [9]:
from collections import Counter
word_freq=Counter(tokens1)
word_freq

Counter({'Known': 1,
         'action': 1,
         'star': 3,
         'persona': 1,
         'N.T.': 2,
         'Rama': 2,
         'Rao': 3,
         'Jr.': 1,
         'referred': 1,
         'Tarak': 5,
         'Jr': 1,
         'NTR': 1,
         'grandson': 1,
         'legendary': 1,
         'Telugu': 3,
         'actor': 1,
         'politician': 1,
         'successful': 1,
         'Nandamuri': 2,
         'family': 1,
         'working': 1,
         'film': 2,
         'industry': 1,
         'born': 1,
         '20th': 1,
         'May': 1,
         'Hyderabad': 1,
         'Andhra': 1,
         'Pradesh': 1,
         'Telangana': 1,
         'India': 2,
         'Harikrishna': 1,
         'Shalini': 1,
         'learnt': 1,
         'Kuchipudi': 1,
         'dance': 1,
         'form': 1,
         'early': 1,
         'childhood': 1,
         'gave': 1,
         'stage': 1,
         'performances': 1,
         'selected': 1,
         'acclaimed': 1,
         'director': 1,
         'Gunasekhar': 1,
         'mythological': 1,
         'character': 1,
         'Lord': 1,
         'Ram': 1,
         'children': 1,
         'Ramayanam': 1,
         'marking': 1,
         'debut': 2,
         'movies': 3,
         'starring': 1,
         'TV': 1,
         'serials': 1,
         'adult': 1,
         'Ninnu': 1,
         'Choodalani': 1,
         'directed': 1,
         'V.R.': 1,
         'Pratap': 1,
         'starred': 1,
         'leading': 1,
         'roles': 1,
         'recipient': 1,
         'Filmfare': 1,
         'Awards': 1,
         'Nandi': 1,
         'awards': 2,
         'CineMAA': 1,
         'IMDb': 1,
         'Mini': 1,
         'Biography': 1,
         'Tarun': 1,
         'Sreenivas': 1,
         'Chavali': 1})

In [10]:
max_freq=max(word_freq.values())
max_freq

5

In [11]:
for word in word_freq.keys():
  word_freq[word]=word_freq[word]/max_freq

In [12]:
word_freq

Counter({'Known': 0.2,
         'action': 0.2,
         'star': 0.6,
         'persona': 0.2,
         'N.T.': 0.4,
         'Rama': 0.4,
         'Rao': 0.6,
         'Jr.': 0.2,
         'referred': 0.2,
         'Tarak': 1.0,
         'Jr': 0.2,
         'NTR': 0.2,
         'grandson': 0.2,
         'legendary': 0.2,
         'Telugu': 0.6,
         'actor': 0.2,
         'politician': 0.2,
         'successful': 0.2,
         'Nandamuri': 0.4,
         'family': 0.2,
         'working': 0.2,
         'film': 0.4,
         'industry': 0.2,
         'born': 0.2,
         '20th': 0.2,
         'May': 0.2,
         'Hyderabad': 0.2,
         'Andhra': 0.2,
         'Pradesh': 0.2,
         'Telangana': 0.2,
         'India': 0.4,
         'Harikrishna': 0.2,
         'Shalini': 0.2,
         'learnt': 0.2,
         'Kuchipudi': 0.2,
         'dance': 0.2,
         'form': 0.2,
         'early': 0.2,
         'childhood': 0.2,
         'gave': 0.2,
         'stage': 0.2,
         'performances': 0.2,
         'selected': 0.2,
         'acclaimed': 0.2,
         'director': 0.2,
         'Gunasekhar': 0.2,
         'mythological': 0.2,
         'character': 0.2,
         'Lord': 0.2,
         'Ram': 0.2,
         'children': 0.2,
         'Ramayanam': 0.2,
         'marking': 0.2,
         'debut': 0.4,
         'movies': 0.6,
         'starring': 0.2,
         'TV': 0.2,
         'serials': 0.2,
         'adult': 0.2,
         'Ninnu': 0.2,
         'Choodalani': 0.2,
         'directed': 0.2,
         'V.R.': 0.2,
         'Pratap': 0.2,
         'starred': 0.2,
         'leading': 0.2,
         'roles': 0.2,
         'recipient': 0.2,
         'Filmfare': 0.2,
         'Awards': 0.2,
         'Nandi': 0.2,
         'awards': 0.4,
         'CineMAA': 0.2,
         'IMDb': 0.2,
         'Mini': 0.2,
         'Biography': 0.2,
         'Tarun': 0.2,
         'Sreenivas': 0.2,
         'Chavali': 0.2})

In [13]:
sen_token=[sent.text for sent in doc.sents]
sen_token

['Known for his action star persona, N.T. Rama Rao Jr. , commonly referred to as Tarak or Jr NTR is the grandson of legendary Telugu actor and politician N.T. Rama Rao.',
 'Tarak is the most successful star from Nandamuri family working in the Telugu film industry.\n\n',
 'Tarak was born on 20th May 1983 in Hyderabad, Andhra Pradesh (currently in Telangana), India to Nandamuri Harikrishna and Shalini Rao.',
 'Tarak learnt the Kuchipudi dance form in his early childhood and gave many stage performances in India and abroad.\n\n',
 "Tarak was selected by acclaimed Telugu director Gunasekhar to star as the mythological character Lord Ram in the children's film Ramayanam (1996), marking his debut in movies.",
 'After starring in a few TV serials, he made his adult debut in movies with Ninnu Choodalani (2001) directed by V.R. Pratap.',
 'He has since then starred in over thirty movies in leading roles.',
 'He is the recipient of two Filmfare Awards, two Nandi awards and four CineMAA awards.\n- IMDb Mini Biography By: Tarun Sreenivas Chavali']

In [14]:
sen_score={}
for sen in sen_token:
  for word in sen.split():
    if word.lower() in word_freq.keys():
      if sen not in sen_score.keys():
        sen_score[sen]=word_freq[word]
      else:
        sen_score[sen]+=word_freq[word]
  print(word)

Rao.
industry.
Rao.
abroad.
movies.
Pratap.
roles.
Chavali

In [15]:
sen_score

{'Known for his action star persona, N.T. Rama Rao Jr. , commonly referred to as Tarak or Jr NTR is the grandson of legendary Telugu actor and politician N.T. Rama Rao.': 1.7999999999999998,
 'Tarak is the most successful star from Nandamuri family working in the Telugu film industry.\n\n': 1.6,
 'Tarak was born on 20th May 1983 in Hyderabad, Andhra Pradesh (currently in Telangana), India to Nandamuri Harikrishna and Shalini Rao.': 0.4,
 'Tarak learnt the Kuchipudi dance form in his early childhood and gave many stage performances in India and abroad.\n\n': 1.5999999999999999,
 "Tarak was selected by acclaimed Telugu director Gunasekhar to star as the mythological character Lord Ram in the children's film Ramayanam (1996), marking his debut in movies.": 2.6,
 'After starring in a few TV serials, he made his adult debut in movies with Ninnu Choodalani (2001) directed by V.R. Pratap.': 1.5999999999999999,
 'He has since then starred in over thirty movies in leading roles.': 1.0,
 'He is the recipient of two Filmfare Awards, two Nandi awards and four CineMAA awards.\n- IMDb Mini Biography By: Tarun Sreenivas Chavali': 0.6000000000000001}

In [16]:
import pandas as pd
pd.DataFrame(list(sen_score.items()),columns=['sentence','score'])

                                            sentence  score
0  Known for his action star persona, N.T. Rama R...    1.8
1  Tarak is the most successful star from Nandamu...    1.6
2  Tarak was born on 20th May 1983 in Hyderabad, ...    0.4
3  Tarak learnt the Kuchipudi dance form in his e...    1.6
4  Tarak was selected by acclaimed Telugu directo...    2.6
5  After starring in a few TV serials, he made hi...    1.6
6  He has since then starred in over thirty movie...    1.0
7  He is the recipient of two Filmfare Awards, tw...    0.6

In [17]:
max(sen_score.values())

2.6

In [18]:
from heapq import nlargest
n_sen=1
n=nlargest(n_sen,sen_score,key=sen_score.get)
"".join(n)

"Tarak was selected by acclaimed Telugu director Gunasekhar to star as the mythological character Lord Ram in the children's film Ramayanam (1996), marking his debut in movies."